# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/.terraform.lock.hcl

# Ansible
**/*.retry
Ansible/inventory/group_vars/*.yml
# SSH keys
*.pem
*.key

# Python / cache
**/__pycache__/
.venv/

# Editor / OS
.vscode/
.DS_Store
