# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/.terraform.lock.hcl
**/*.tfvars

# Ansible
**/*.retry
Ansible/inventory/group_vars/*.yml
!Ansible/inventory/group_vars/*.example.yml
Ansible/inventory/*.ini
!Ansible/inventory/*.example.ini
# SSH keys
*.pem
*.key

# Python / cache
**/__pycache__/
.venv/

# Editor / OS
.vscode/
.DS_Store

# Runtime data
yolo-container/broker/data/*.db
