# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/.terraform.lock.hcl

# Ansible
**/*.retry
.Ansible/group_vars/bastion.yml
.Ansible/inventory/group_vars/bastion.yml
# SSH keys
*.pem
*.key

# Python / cache
**/__pycache__/
.venv/

# Editor / OS
.vscode/
.DS_Store
