aws_region          = "eu-central-1"
aws_profile         = "default"
project_name        = "afval-ai"
vpc_cidr            = "10.0.0.0/16"
public_subnet_cidr  = "10.0.1.0/24"
private_subnet_cidr = "10.0.2.0/24"
availability_zone   = "eu-central-1a"

admin_ip_cidr     = "203.0.113.10/32"
tailscale_ip_cidr = "100.64.0.10/32"

bastion_instance_type     = "t3.micro"
bastion_key_name          = "your-aws-key-pair-name"
bastion_eip_allocation_id = "eipalloc-xxxxxxxxxxxxxxxxx"
nat_instance_type         = "t3.micro"

mosquitto_instance_type = "t3.small"
mosquitto_key_name      = "your-aws-key-pair-name"
